@model IEnumerable<GymWebApp.Models.Judges>

@{
    ViewData["Title"] = "Judges";
}

<h1>@ViewBag.GymnastsName Judges</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.AgeSections)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apparatuss)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.AgeSections)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apparatuss)
                </td>
            </tr>
        }
    </tbody>
</table>
